NODE_ENV=development
APP_NAME=LEOSGYR

API_PORT=3001
WEB_PORT=3000

POSTGRES_USER=leosgyr
POSTGRES_PASSWORD=leosgyr_dev_password
POSTGRES_DB=leosgyr_dev
POSTGRES_PORT=5433
DATABASE_URL="postgresql://leosgyr:leosgyr_dev_password@localhost:5433/leosgyr_dev?schema=public"

REDIS_PORT=6380
REDIS_URL="redis://localhost:6380"
